*.sparseimage
.DS_Store
platforms/osx/Package/Root/*
platforms/osx/Package/*.pkg
platforms/osx/.build
platforms/osx/UsbkeyCtlTool.xcodeproj/xcuserdata
platforms/osx/UsbkeyCtlTool.xcodeprj/project.xcworkspace/xcuserdata/
platforms/osx/UsbkeyCtlTool.xcodeprj/project.xcworkspace/xcuserdata/contents.xcworkspacedata
usbkey-osx/
